<!--
{% if include.collapsed == "yes" %}
<div class="nav--posters wall wall--{{ include.current }}">
  <a class="poster--prev" href="{{ site.baseurl }}/{{ include.prev }}">
    <p>{{ include.prev }}</p>
  </a>
  <div class="poster--current">
    <p><strong>{{ include.current }}</strong></p>
  </div>
  <a class="poster--next" href="{{ site.baseurl }}/{{ include.next }}">
    <p>{{ include.next }}</p>
  </a>
</div>
{% else %}
<div class="nav--posters wall wall--{{ include.current }}">
  <a class="poster--prev" href="{{ site.baseurl }}/{{ include.prev }}">
    <p>{{ include.prev }}</p>
    <img src="{{ site.baseurl }}/assets/posters/{{ include.prev }}-2.png" alt="">
  </a>
  <div class="poster--current">
    <p><strong>{{ include.current }}</strong></p>
    <img src="{{ site.baseurl }}/assets/posters/{{ include.current }}-2.png" alt="">
  </div>
  <a class="poster--next" href="{{ site.baseurl }}/{{ include.next }}">
    <p>{{ include.next }}</p>
    <img src="{{ site.baseurl }}/assets/posters/{{ include.next }}-2.png" alt="">
  </a>
</div>
{% endif %}
-->
<ul class="nav">
  <li><a href="{{site.baseurl}}/index">Mel Chua</a></li>
  <li><a href="{{site.baseurl}}/sketches">Blog</a></li>
</ul>
