<div class="nav--posters wall wall--{{ include.current }}">
  <a class="poster--prev" href="/{{ include.prev }}">
    <p>{{ include.prev }}</p>
    <img src="{{ site.baseurl }}/assets/posters/{{ include.prev }}-2.png" alt="">
  </a>
  <div class="poster--current">
    <p><strong>{{ include.current }}</strong></p>
    <img src="{{ site.baseurl }}/assets/posters/{{ include.current }}-2.png" alt="">
  </div>
  <a class="poster--next" href="/{{ include.next }}">
    <p>{{ include.next }}</p>
    <img src="{{ site.baseurl }}/assets/posters/{{ include.next }}-2.png" alt="">
  </a>
</div>
