---
---
body {
  background: #F1F2E4;
  font-family: "freight-neo-pro", serif;
}

a:link,
a:visited {

}

a:hover,
a:active {

}

h1,
h2,
h3,
h4,
.nav {
  font-family: "adrianna", sans-serif;

}

.nav__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav__list--topics {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

@media (min-width: 728px) {
  .nav__list--topics {
    grid-template-columns: repeat(6, 1fr);
  }
}

.nav__list a:link,
.nav__list a:visited {
  color: #000;
  text-decoration: none;
}

.nav__list a:hover,
.nav__list a:active {
  text-decoration: underline;
}

.nav__item {
  display: block;
  cursor: pointer;
}

.nav__item small {
  opacity: .5;
}

.fluidratio {
  display: block;
  height: 0;
  padding-top: 60%;
  width: 100%;
  margin: auto;
  background-size: cover;
  margin-bottom: .5em;
}

.nav__item figure {
  background-color: rgba(0,0,0,.05);
}

.nav__item--hacking figure {
  background-image: url("{{ site.baseurl }}/assets/topics/hacking-1.png");
}
.nav__item--hacking:hover figure, .nav__item--hacking.active figure {
  background-color: #85144b;
  background-image: url("{{ site.baseurl }}/assets/topics/hacking-2.png");
}
.nav__item--academia figure {
  background-image: url("{{ site.baseurl }}/assets/topics/academia-1.png");
}
.nav__item--academia:hover figure, .nav__item--academia.active figure {
  background-color: #0074D9;
  background-image: url("{{ site.baseurl }}/assets/topics/academia-2.png");
}
.nav__item--movement figure {
  background-image: url("{{ site.baseurl }}/assets/topics/movement-1.png");
}
.nav__item--movement:hover figure, .nav__item--movement.active figure {
  background-color: #FFDC00;
  background-image: url("{{ site.baseurl }}/assets/topics/movement-2.png");
}
.nav__item--deafness figure {
  background-image: url("{{ site.baseurl }}/assets/topics/deafness-1.png");
}
.nav__item--deafness:hover figure, .nav__item--deafness.active figure {
  background-color: #7FDBFF;
  background-image: url("{{ site.baseurl }}/assets/topics/deafness-2.png");
}
.nav__item--faith figure {
  background-image: url("{{ site.baseurl }}/assets/topics/faith-1.png");
}
.nav__item--faith:hover figure, .nav__item--faith.active figure {
  background-color: #01FF70;
  background-image: url("{{ site.baseurl }}/assets/topics/faith-2.png");
}
.nav__item--haluhalo figure {
  background-image: url("{{ site.baseurl }}/assets/topics/haluhalo-1.png");
}
.nav__item--haluhalo:hover figure, .nav__item--haluhalo.active figure {
  background-color: #F012BE;
  background-image: url("{{ site.baseurl }}/assets/topics/haluhalo-2.png");
}
