---
---
body {
  background: #F1F2E4;
  font-family: "freight-neo-pro", Optima, serif;
  margin: 0;
  padding: 0;
}

header {
  text-align: center;
}

.container {
  max-width: 960px;
  margin: auto;
  padding: 0 20px;
}

section {
  margin-bottom: 40px;
}

.row {
  display: flex;
}

img {
  max-width: 100%;
}

.icon {
  width: 200px;
  height: auto;
}

a:link,
a:visited {

}

a:hover,
a:active {

}

h1,
h2,
h3,
h4,
.nav {
  font-family: "adrianna", sans-serif;

}

.lead {
  font-size: 1.5em;
  padding: 1.5em 0;
}

.active {
  font-weight: bold;
}

.nav__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav__list--main {

}

.nav__list--socialmedia {
  display: flex;
  text-align: center;
}

.nav__list--socialmedia .nav__item {
  flex: 1 1 0;
  align-self: flex-end;
}

.nav__list--socialmedia .nav__item img {
  margin-bottom: .5em;
}

.nav__list a:link,
.nav__list a:visited,
.nav__item:link,
.nav__item:visited {
  color: #000;
  text-decoration: none;
  display: inline-block;
}

.nav__list a:hover,
.nav__list a:active,
.nav__item:hover,
.nav__item:active {
  text-decoration: underline;
}

.nav__item {
  display: block;
  cursor: pointer;
  padding: 1em;
}

.nav__item small {
  opacity: .5;
}

.nav--main .nav__item {
  display: inline-block;
}

.nav--main .nav__list {
  text-align: center;
}

.nav__list--topics {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

@media (min-width: 728px) {
  .nav__list--topics {
    grid-template-columns: repeat(6, 1fr);
  }
}

.fluidratio {
  display: block;
  height: 0;
  padding-top: 60%;
  width: 100%;
  margin: auto;
  background-size: fit;
  margin-bottom: .5em;
}

.nav__item figure {
  background-color: rgba(0,0,0,.05);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.nav__item--hacking figure {
  background-image: url("{{ site.baseurl }}/assets/topics/doodles/hacking.png");
}
.nav__item--hacking:hover figure, .nav__item--hacking.active figure {
}
.nav__item--academia figure {
  background-image: url("{{ site.baseurl }}/assets/topics/doodles/academia.png");
}
.nav__item--academia:hover figure, .nav__item--academia.active figure {
}
.nav__item--movement figure {
  background-image: url("{{ site.baseurl }}/assets/topics/doodles/movement.png");
}
.nav__item--movement:hover figure, .nav__item--movement.active figure {
}
.nav__item--deafness figure {
  background-image: url("{{ site.baseurl }}/assets/topics/doodles/deafness.png");
}
.nav__item--deafness:hover figure, .nav__item--deafness.active figure {
}
.nav__item--faith figure {
  background-image: url("{{ site.baseurl }}/assets/topics/doodles/faith.png");
}
.nav__item--faith:hover figure, .nav__item--faith.active figure {
}
.nav__item--haluhalo figure {
  background-image: url("{{ site.baseurl }}/assets/topics/doodles/haluhalo.png");
}
.nav__item--haluhalo:hover figure, .nav__item--haluhalo.active figure {
}

.wall {
  height: 80vh;
  width: 100vw;
  display: block;
  background: #fff;
  margin: 0;
  padding: 0;
  text-align: center;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.wall--index {
  background-color: #C3BF85;
}

.wall--self {
  background-color: #CE9966;
}

.wall--studies {
  background-color: #AA9079;
}

.wall--sketches {
  background-color: #9BC6BD;
}

.poster {
  padding: 10vh 0;
}

.poster img {
  display: block;
  margin: auto;
  max-height: 100%;
  width: auto;
}

.nav--posters {
  display: grid!important;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 0;
}

.poster--prev,
.poster--next {
  display: block;
  position: relative;
}

.poster--prev {
  cursor: w-resize;
  text-align: left;
}

.poster--next {
  cursor: e-resize;
  text-align: right;
}

.poster--prev img {
  position: absolute;
  left: -70%;
}

.poster--next img {
  position: absolute;
  right: -70%;
}

footer {
  background: #eee;
  display: flex;
}

footer div {
  flex: 1 1 0;
}
