<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{% if page.title != "Index" %}{{ page.title }} | {% endif %}Mel Chua</title>
  <meta name="author" content="name">
  <meta name="description" content="description here">
  <meta name="keywords" content="keywords,here">
  <link rel="stylesheet" href="https://use.typekit.net/gww3bmu.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/stylesheet.css" type="text/css">
  </head>
  <body>
<!--
  <nav class="nav nav--main wall--{{ page.title | slugify }}">
    <div class="container">
      <ul class="nav__list">
        <li class="nav__item {% if page.title == "Index" %}active{% endif %}"><a href="{{ site.baseurl }}/index">mel chua</a></li>
        <li class="nav__item {% if page.title == "Self" %}active{% endif %}"><a href="{{ site.baseurl }}/self">self</a></li>
        <li class="nav__item {% if page.title == "Studies" %}active{% endif %}"><a href="{{ site.baseurl }}/studies">studies</a></li>
        <li class="nav__item {% if page.title == "Sketches" %}active{% endif %}"><a href="{{ site.baseurl }}/sketches">sketches</a></li>
      </ul>
    </div>
  </nav>
-->
  {{ content }}
<!--
  <footer>
    <div>
      <h3><a href="/">Self</a></h3>
      <ul>
        <li><a href="/about">About</a></li>
        <li><a href="/for-interpreters">For Interpreters</a></li>
      </ul>
    </div>
    <div>
      <h3><a href="/studies">Studies</a></h3>
      <ul>
        <li><a href="">Research Statement</a></li>
        <li><a href="">Curriculum Vitae</a></li>
        <li><a href="">Talks & Publications</a></li>
      </ul>
    </div>
    <div>
      <h3><a href="/sketches">Sketches</a></h3>
      <ul>
        <li><a href="">Topics</a></li>
        <li><a href="">Drawings</a></li>
      </ul>
    </div>
  </footer>
-->
  <script src="/assets/js/jquery.min.js"></script>
  <script src="/assets/js/instantclick.min.js"></script>
  <script>InstantClick.init('mousedown');</script>
  </body>
</html>
