<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{{ page.title }} | Mel Chua</title>
  <meta name="author" content="name">
  <meta name="description" content="description here">
  <meta name="keywords" content="keywords,here">
  <link rel="stylesheet" href="https://use.typekit.net/gww3bmu.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/stylesheet.css" type="text/css">
  </head>
  <body>
  <nav class="nav nav--main">
    <ul class="nav__list">
      <li class="nav__item"><strong>mel chua</strong></li>
      <li class="nav__item"><a href="{{ site.baseurl }}/">self</a></li>
      <li class="nav__item"><a href="{{ site.baseurl }}/scholarship">scholarship</a></li>
      <li class="nav__item"><a href="{{ site.baseurl }}/sketches">sketches</a></li>
    </ul>
  </nav>
  {{ content }}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  </body>
</html>
