---
layout: default
---

<div class="wall wall--self">
  <div class="poster">
    <img src="{{ site.baseurl }}/assets/posters/self.png" alt="">
  </div>
</div>

<div class="container">
  <div class="lead">
    {{ page.description }}
  </div>

  {{ content }}

  <section>
    <h2>About Mel</h2>
    {{ page.about | markdownify }}
  </section>

  <section>
    <h2>Contact + Social Media</h2>
    <ul class="nav__list nav__list--socialmedia">
      <li class="nav__item">
        <a href="mailto:mel@melchua.com">
          <img src="{{ site.baseurl }}/assets/socialmedia/noun_26731_cc.svg" alt=""><br>
          Email
        </a>
      </li>
      <li class="nav__item">
        <a href="http://twitter.com/mchua">
          <img src="{{ site.baseurl }}/assets/socialmedia/noun_49609_cc.svg" alt=""><br>
          Twitter
        </a>
      </li>
      <li class="nav__item">
        <a href="http://github.com/mchua">
          <img src="{{ site.baseurl }}/assets/socialmedia/noun_116189_cc.svg" alt=""><br>
          Github
        </a>
      </li>
      <li class="nav__item">
        <a href="">
          <img src="{{ site.baseurl }}/assets/socialmedia/noun_56176_cc.svg" alt=""><br>
          LinkedIn
        </a>
      </li>
    </ul>
  </section>

  <section>
    <h2>My Mission</h2>
    <div class="row">
      <div>
        {{ page.mission-intro | markdownify }}
      </div>
      <div>
        {{ page.mission | markdownify }}
      </div>
    </div>
  </section>
</div>
