---
layout: default
---

{{ content }}

<section>
  <h2>Research Statement</h2>

  We are terraformers. We need worlds that we and others can live in, so we work together to create them where they do not yet exist.

  The fancy version of my scholarly work catchphrase is “prototyping alternate ontology curricular cultures.” Or, in English, what are the assumptions we make about reality (especially related to teaching and learning), and what kinds of worlds do these assumptions set up… and how can we build different worlds where different realities are possible?  [Read more](research-statement)

</section>

<section>
  <h2>Talks + Publications</h2>
</section>

<section>
  <h2>Curriculum Vitae</h2>
</section>
