---
layout: default
---
<nav class="nav nav--topics">
  <ul class="nav__list nav__list--topics">
    <li class="nav__item nav__item--hacking">
      <figure class="fluidratio"></figure>
      <a href="">Hacking</a>
    </li>
    <li class="nav__item nav__item--academia">
      <figure class="fluidratio"></figure>
      <a href="">Academia</a>
    </li>
    <li class="nav__item nav__item--movement">
      <figure class="fluidratio"></figure>
      <a href="">Movement, music, art, and language</a>
    </li>
    <li class="nav__item nav__item--deafness">
      <figure class="fluidratio"></figure>
      <a href="">Deafness</a>
    </li>
    <li class="nav__item nav__item--faith">
      <figure class="fluidratio"></figure>
      <a href="">Faith</a>
    </li>
    <l class="nav__item nav__item--haluhalo">
      <figure class="fluidratio"></figure>
      <a href="">Haluhalo</a>
    </li>
  </ul>
</nav>
